.navbar .container {
    display: flex;
    justify-content: space-between;
}

.navbar-text {
    display: flex;
    gap: 20px;
}

.navbar-collapse {
    flex-grow: 0;
}

.mobile-cart {
    display: none;
}

@media (max-width: 991px) {
    .navbar .container {
        padding: 0px;
    }

    .mobile-cart {
        display: block;
        display: flex;
        gap: 20px;
    }

    .large-cart {
        display: none;
    }
}

/* register form */
.register-form-section {
    display: flex;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    height: 100vh;
    color: #eee;
}

.register-form {
    width: 400px;
    margin: 0 auto !important;
    border: 1px solid #ced4da !important;
    border-radius: 5px;
    padding: 40px !important;
    /* background-color: rgb(255, 255, 255); */
    background: transparent;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.8);
    backdrop-filter: blur(20px);
}

/*login */
.login-form-section {
    display: flex;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    height: 100vh;
    color: #eee;
}

.login-form {
    width: 400px;
    margin: 0 auto !important;
    border: 1px solid #ced4da !important;
    border-radius: 5px;
    padding: 40px !important;
    /* background-color: rgb(255, 255, 255); */
    background: transparent;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.8);
    backdrop-filter: blur(20px);
}

.login-form input {
    padding: 8px !important;
    border-radius: 20px;
    font-size: 15px;
    background: transparent;
    backdrop-filter: blur(20px);
    color: white !important;
    border: 1px solid #ced4da !important;

}

.login-form input:focus {
    background-color: transparent !important;
    outline: none !important;
}

.login-form input::placeholder {
    color: white !important;
}

.form-control:focus {
    border-color: #ced4da !important;
    box-shadow: none !important;
}

.login-heading {
    text-align: center;
    margin-bottom: 20px !important;
}


.login-btn {
    text-align: center !important;
    width: 100%;
    height: 40px;
    text-align: center;
    border-radius: 20px;
    background-color: white;
    color: black;
    border: 1px solid white;
}

.login-btn:hover {
    background-color: white;
    color: black;
}

.register-text {
    text-align: center;
    margin-top: 10px !important;
    color: white;
}

.cart {
    width: 100%;
    height: 560px;
}

/*profile*/
.profile-btn {
    background-color: #1C305C;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.profile-btn:hover {
    color: white;
}

/*product*/
#product {
    padding: 20px 0px 20px 0px;
}

.card {
    margin-bottom: 20px;
}

.product_heading {
    text-align: center;
    padding: 10px 10px;
}

.product_image {
    width: 100%;
    height: auto;
}

.add-btn {
    padding: 10px;
    background-color: #65CCB7;
    border: none;
    border-radius: 5px;
    color: white;
}

/*newslatter*/
#newsletter {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: gray;
    color: white;
}

.newsletter_area {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center !important;
}

.newsletter_area>p {
    margin: 0px !important;
    font-weight: bold;
    font-size: 20px
}

.newslatter-input {
    /* width: 100%; */
    height: 2.5rem;
    padding: 15px;
    color: #1a202c;
    border: none !important;
    border-radius: 0.5rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.newslatter-input:focus {
    outline: none;
}

.subscribe-btn {
    padding: 7px 20px 7px 20px;
    color: white;
    background-color: #65CCB7;
    border: none;
    font-size: 18px;
    border-radius: 0.5rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    transition: all 300ms ease-in-out;
    margin-left: 10px;
}

.subscribe-btn:hover {
    background-color: #553c9a;
}

@media (min-width: 414px) {
    .newslatter-input {
        width: 68%;
    }
}

@media (max-width: 376px) {
    .newslatter-input {
        width: 65%;
    }
}

/*footer */
#footer {
    padding-top: 20px;
    background-color: #65CCB7;
    color: white;
}

.footer-content>.navbar-nav>.nav-item>.nav-link {
    text-decoration: none;
    color: white !important;
}
.footer-content>.navbar-nav>.nav-item>p{
    margin: 0px !important;
}

.social-icon {
    display: flex;
    justify-content: flex-end;
}

.social-icon>.nav-link {
    padding: 0px !important;
    margin-left: 15px;
}

.social-icon>.nav-link>i {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    vertical-align: middle;
    background-color: #fff;
    margin-right: 3px;
    color: #65CCB7;
}

/* product-page */
#products-page {
    min-height: 555px !important;
    /* with no product default height */
}

/*contact-page */
#contact {
    padding-top: 20px;
    padding-bottom: 20px;
}

.contact-form-area {
    padding: 20px !important;
}

/* cart-page */
#cart-page {
    min-height: 550px !important;
}

#cart-table {
    border: none !important;
    border: 1px solid #eee !important;
}

.checkout {
    border-top: 1px solid #d2d2d2;
    padding-top: 15px;
}

.checkout .btn-primary {
    border-radius: 50px;
    height: 50px;
}

.order-btn {
    padding: 10px 70px 10px 70px;
    margin: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

.order-btn:hover {
    background-color: white;
    border: 1px solid green;
    color: green;
}

/*start-order-page*/
.pdf-btn {
    border: 1px solid blue !important;
    border-radius: 20px;
    padding: 0px 20px 0px 20px !important;
    text-decoration: none;
    font-weight: 700;
    font-size: 12px;
}