.navbar .container {
    display: flex;
    justify-content: space-between;
}

.navbar-text {
    display: flex;
    gap: 20px;
}

.navbar-collapse {
    flex-grow: 0;
}

.mobile-cart {
    display: none;
}

@media (max-width: 991px) {
    .navbar .container {
        padding: 0px;
    }

    .mobile-cart {
        display: block;
        display: flex;
        gap: 20px;
    }

    .large-cart {
        display: none;
    }
}

/* register form */
.register-form-section {
    display: flex;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    height: 100vh;
    color: #eee;
}

.register-form {
    width: 400px;
    margin: 0 auto !important;
    border: 1px solid #ced4da !important;
    border-radius: 5px;
    padding: 40px !important;
    /* background-color: rgb(255, 255, 255); */
    background: transparent;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.8);
    backdrop-filter: blur(20px);
}

.cart {
    width: 100%;
    height: 560px;
}

/*product*/
#product {
    padding: 20px 0px 20px 0px;
}

.card {
    margin-bottom: 20px;
}

.product_heading {
    text-align: center;
    padding: 10px 10px;
}

.product_image {
    width: 100%;
    height: auto;
}

.add-btn {
    padding: 10px;
    background-color: #65CCB7;
    border: none;
    border-radius: 5px;
    color: white;
}

/* product page with no product default height */
#products-page {
    min-height: 555px !important;
}

#cart-page {
    min-height: 550px !important;
}

#cart {
    border: none !important;
    border: 1px solid #eee !important;
}

/*newslatter*/
#newsletter {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: gray;
    color: white;
}

.newslatter-input {
    width: 50%;
    height: 2.5rem;
    padding: 0.45rem;
    color: #1a202c;
    border: none !important;
    border-radius: 0.5rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.newslatter-input:focus {
    outline: none;
}

.subscribe-btn {
    padding: 7px 20px 7px 20px;
    color: white;
    background-color: #65CCB7;
    border: none;
    font-size: 18px;
    border-radius: 0.5rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    transition: all 300ms ease-in-out;
}

.subscribe-btn:hover {
    background-color: #553c9a;
}

@media (min-width: 414px) {
    .newslatter-input {
        width: 68%;
    }
}

@media (max-width: 376px) {
    .newslatter-input {
        width: 65%;
    }
}

/*footer */
#footer {
    padding-top: 20px;
    background-color: #65CCB7;
    color: white;
}

.footer-content>.navbar-nav>.nav-item>.nav-link {
    text-decoration: none;
    color: white !important;
}

.social-icon {
    display: flex;
    justify-content: space-around;
}

.social-icon>.nav-link>i {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    vertical-align: middle;
    background-color: #fff;
    margin-right: 3px;
    color: #65CCB7;
}


/* cart start */
.thumbnail {
    position: relative;
    padding: 0px;
    margin-bottom: 20px;
}

.thumbnail img {
    width: 80%;
}

.thumbnail .caption {
    margin: 7px;
}

.main-section {
    background-color: #F8F8F8;
}

.btn {
    border: 0px;
    margin: 10px 0px;
    box-shadow: none !important;
}

.total-header-section {
    border-bottom: 1px solid #d2d2d2;
}

.total-section p {
    margin-bottom: 20px;
}

.cart-detail {
    padding: 15px 0px;
}

.cart-detail-img img {
    width: 100%;
    height: 100%;
    padding-left: 15px;
}

.cart-detail-product p {
    margin: 0px;
    color: #000;
    font-weight: 500;
}

.cart-detail .price {
    font-size: 12px;
    margin-right: 10px;
    font-weight: 500;
}

.cart-detail .count {
    color: #C2C2DC;
}

.checkout {
    border-top: 1px solid #d2d2d2;
    padding-top: 15px;
}

.checkout .btn-primary {
    border-radius: 50px;
    height: 50px;
}