body {
    background-color: #FFFFFF;
    list-style: none;
    /* color: #65CCB7; */
    /* color: #00203FFF; */
}

.navbar .container {
    display: flex;
    justify-content: space-between;
}

.navbar-text {
    display: flex;
    gap: 20px;
}

.navbar-collapse {
    flex-grow: 0;
}

.mobile-cart {
    display: none;
}

@media (max-width: 991px) {
    .navbar .container {
        padding: 0px;
    }

    .mobile-cart {
        display: block;
        display: flex;
        gap: 20px;
    }

    .large-cart {
        display: none;
    }
}

/* authentication form */
.auth-form-section {
    display: flex;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    height: 100vh;
    color: white;
}

.auth-form-section a{
    color: white;
    text-decoration: none;
}

.register-form {
    width: 400px;
    margin: 0 auto !important;
    border: 1px solid #ced4da !important;
    border-radius: 5px;
    padding: 40px !important;
    background-color: #1C305C;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.8);
}

.login-form {
    width: 400px;
    margin: 0 auto !important;
    border: 1px solid #ced4da !important;
    border-radius: 5px;
    padding: 40px !important;
    background-color: #1C305C;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.8);
}

.form-control:focus {
    border-color: #ced4da !important;
    box-shadow: none !important;
}

.auth-heading {
    text-align: center;
    margin-bottom: 20px !important;
}

.auth-btn {
    text-align: center !important;
    width: 100%;
    height: 40px;
    text-align: center;
    border-radius: 20px;
    background-color: white;
    border: 1px solid white;
    color: black;
}

.register-text {
    text-align: center;
    margin-top: 10px !important;
    color: white;
    text-decoration: none !important;
}

.register-text a:hover{
    color: white;
}

.form-check {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.cart {
    width: 100%;
    height: 560px;
}

/*profile*/
.profile-btn {
    background-color: #1C305C;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.profile-btn:hover {
    color: white;
}

/*product*/
#product {
    padding: 20px 0px 20px 0px;
}

.card {
    margin-bottom: 20px;
}

.product_heading {
    text-align: center;
    padding: 10px 10px;
}

.product_image {
    width: 100%;
    height: 300px;
}

.add-btn {
    padding: 10px;
    background-color: #1C305C;
    border: none;
    border-radius: 5px;
    color: white;
}

/*newslatter*/
#newsletter {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: gray;
    color: white;
}

.newsletter_area {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center !important;
}

.newsletter_input_area {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center !important;
}

.newsletter_area>p {
    margin: 0px;
    font-weight: bold;
    font-size: 20px
}

.newslatter-input {
    /* width: 100%; */
    height: 2.5rem;
    padding: 15px;
    color: #1a202c;
    border: none !important;
    border-radius: 0.5rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.newslatter-input:focus {
    outline: none;
}

.subscribe-btn {
    padding: 7px 20px 7px 20px;
    color: white;
    background-color: #1C305C;
    border: none;
    font-size: 18px;
    border-radius: 0.5rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    transition: all 300ms ease-in-out;
    margin-left: 10px;
}

.subscribe-btn:hover {
    background-color: #553c9a;
}

@media (max-width: 414px) {
    .newsletter_area {
        flex-direction: column;
     }
     .newsletter_area>p {
        margin-bottom: 15px;
    }
    .newslatter-input {
        width: 68%;
    }
}

@media (max-width: 376px) {
    .newsletter_area {
       flex-direction: column;
    }
    .newsletter_area>p {
        margin-bottom: 15px;
    }
    .newslatter-input {
        width: 65%;
    }
}

/*Footer */
#footer {
    padding-top: 20px;
    background-color: #1C305C;
    color: white;
}

.footer-content>.navbar-nav>.nav-item>.nav-link {
    text-decoration: none;
    color: white !important;
}

.footer-content>.navbar-nav>.nav-item>p {
    margin: 0px !important;
}

.social-icon {
    display: flex;
    justify-content: flex-end;
}

.social-icon>.nav-link {
    padding: 0px !important;
    margin-left: 15px;
}

.social-icon>.nav-link>i {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    vertical-align: middle;
    background-color: #fff;
    margin-right: 3px;
    color: #1C305C;
}

.copytight_text {
    text-align: left !important;
}

@media only screen and (max-width: 600px) {
    .copytight_text {
        text-align: center !important;
    }

    .social-icon {
        justify-content: center !important;
        padding-bottom: 20px !important;
    }
}

/* breadcrumb */
.breadcrumb-section {
    background-color: #f8f8f8;
}

.breadcrumb {
    display: flex;
    justify-content: center;
    border-radius: .25rem;
    padding: 0;
    margin: 0;
}

.breadcrumb ul {
    margin: 0;
}

.breadcrumb li {
    display: inline-block;
    color: #555555;
}

.breadcrumb li a {
    text-decoration: none;
    color: black;
}

.breadcrumb li a::after {
    content: "/";
    display: inline-block;
    margin: 0 8px;
    color: #555555;
}

/* product-page */
/* #products-page {
    min-height: 555px !important;
} */

/* product-details-page */
#product_deatils {
    padding-bottom: 20px;
}

.product_deatils_main_img {
    width: 100%;
}

.related-products {
    padding: 40px 0px;
}

.owl-carousel .item {
    text-align: center;
    margin: 0px 5px;
}

.owl-carousel img {
    width: 100%;
    /* Make images responsive */
    height: 300px;
}

@media (min-width: 1200px) {
    .product_image_section {
        width: 400px;
        margin: 0 auto;
    }
}

/*contact-page */
.contact-form-area {
    padding: 20px !important;
}

/* cart-page */
#cart-page {
    min-height: 560px !important;
}

#cart-table {
    width: 100%;
    border: none !important;
    border: 1px solid #eee !important;
}

.table_header {
    width: 25%;
    padding: 20px;
    font-size: 18px;
    text-align: center;
}

.checkout_area {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}

.shopping_btn {
    background-color: #FFCA2C;
    color: black;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

.shopping_btn:hover {
    color: white;
}

.checkout_btn {
    background-color: #FFCA2C;
    color: black;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

.checkout_btn:hover {
    color: white;
}

/* checkout page*/
.checkout {
    border-top: 1px solid #d2d2d2;
}

.checkout-info {
    background-color: rgb(241, 238, 238);
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 20px;
}

.checkout .btn-primary {
    border-radius: 50px;
    height: 50px;
}

.order-btn {
    padding: 10px 70px 10px 70px;
    margin: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

.order-btn:hover {
    background-color: white;
    border: 1px solid green;
    color: green;
}

.mycart .paycard {
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    padding: 40px 30px 0px 30px;
}

.mycart p {
    font-size: 17px;
    font-weight: 400;
    color: rgb(65, 65, 65);
    margin: 0 0 10px;
}

.mycart {
    margin: 50px 0;
}

/*start-order-page*/
.pdf-btn {
    border: 1px solid blue !important;
    border-radius: 20px;
    padding: 0px 20px 0px 20px !important;
    text-decoration: none;
    font-weight: 700;
    font-size: 12px;
}