* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none !important;
    text-decoration: none !important;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

body {
    background-color: #F3F5F7 !important;
}

.side-nav {
    height: 100vh;
    background-color: #1C305C;
    width: 0px;
    overflow: hidden;
    transition: width 0.2s linear;
    box-shadow: 0 20px 35px rgb(0, 0, 0, 0.1);
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
}

.side-nav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}

/* .side-nav:hover {
    width: 220px;
} */

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px !important;
    width: 80px;
    opacity: 0.5;
}

.sidebar-item {
    padding: 15px 0px;
}

.sidebar-item:hover {
    background-color: #ced4da;
}

.dropdown-item-parent {
    padding: 15px 0px;
}

nav a {
    font-size: 18px;
    color: white;
}

nav a:hover {
    color: black;
}

nav .fas,
.far {
    width: 16px;
    height: 16px;
    text-align: center;
}

.nav-item {
    padding: 30px;
}

.dropdown-item {
    color: white;
    padding: 10px;
    margin-left: 40px;
}

.dropdown-item:hover {
    background-color: #ced4da;
}

.login-form-section {
    display: flex;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    height: 100vh;
    color: #eee;
}

.login-form {
    width: 400px;
    margin: 0 auto !important;
    border: 1px solid #ced4da !important;
    border-radius: 5px;
    padding: 40px !important;
    background: transparent;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.8);
    backdrop-filter: blur(20px);
}

.login-form input {
    padding: 8px !important;
    border-radius: 20px;
    font-size: 15px;
    background: transparent;
    backdrop-filter: blur(20px);
    color: white !important;
    border: 1px solid #ced4da !important;

}

input:focus {
    background-color: transparent !important;
    outline: none !important;
}

input::placeholder {
    color: white !important;
}

.form-control:focus {
    border-color: #ced4da !important;
    box-shadow: none !important;
}

.login-heading {
    text-align: center;
    margin-bottom: 20px !important;
}


.login-btn {
    text-align: center !important;
    width: 100%;
    height: 40px;
    text-align: center;
    border-radius: 20px;
    background-color: white;
    color: black;
    border: 1px solid white;
}

.login-btn:hover {
    background-color: white;
    color: black;
}

.register-text {
    text-align: center;
    margin-top: 10px !important;
    color: white;
}

/* body card */
.header_card {
    display: flex;
    justify-content: space-between;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    padding: 10px 35px;
    position: relative;
}

.header_card .fas,
.far {
    width: 16px;
    height: 16px;
}

/* dashboard */
.dashboard-content {
    display: flex;
    flex-direction: row;
    /* Ensures horizontal alignment of cards */
    justify-content: space-between;
    /* Distributes items with equal space between */
    margin: 0px 15px;
}

.item_card {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    /* Padding inside the card */
    background-color: #1C305C;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 5px;
    color: white;
    margin: 0px 15px;
    flex: 1 1 calc(20% - 40px);
    /* Flex item width, adjusted for padding */
    box-sizing: border-box;
    /* Ensure padding is included in the width calculation */
}

.item_card {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #1C305C;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 5px;
    color: white;
    flex: 1 1 calc(20% - 40px);
    margin: 20px;
}

.item_card p {
    margin: 0px;
    text-align: center;
    font-size: 20px;
}

.item_card i {
    font-size: 45px;
}

@media (max-width: 768px) {
    .header_card {
        padding: 10px 30px;
    }

    .dashboard-content {
        flex-direction: column;
        margin: 15px;
    }

    .item_card {
        margin: 10px !important;
    }
}

/* .dashbaord_footer {
    display: flex;
    flex-direction: row;
    margin: 0px 17px;
}

.dashbaord_table_area {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    width: 100%;
    margin: 0px 17px;
    padding: 10px;
    background-color: #FFFFFF;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.dashbaord_table {
    border-radius: 5px;
    margin: 0px 18px;
}

.dashbaord_table_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .dashbaord_table_area {
        display: flex;
        flex-direction: column;
        margin: 20px 25px;
    }

    .dashbaord_table {
        padding: 0px;
        margin: 0px;
    }

    .dashbaord_footer {
        flex-direction: column !important;
    }
} */

 /* Basic Reset */

.dashboard_footer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    margin: 0 35px;
}

.table_area {
    flex: 0 0 75%;  /* First element: 70% width */
    margin-bottom: 20px;
    padding: 20px;
    background-color: #FFFFFF;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 10px;
}

.table_area:nth-child(2) {
    flex: 0 0 20%;  /* Second element: 20% width */
}


.dashboard_table_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.user_table{
    width: 30% !important;
}

h4 {
    font-size: 18px;
    font-weight: bold;
}

.view-btn {
    text-decoration: none;
    color: #007bff;
    font-size: 14px;
}

.table-responsive {
    max-width: 100%;
    overflow-x: auto; /* Horizontal scrolling for small screens */
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.table th, .table td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}

.table th {
    background-color: #f8f9fa;
    font-weight: bold;
}

.add-form{
    width: 800px;
    margin: 0 auto;
    background-color: #FFFFFF;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 10px;
    padding: 20px;
    /* margin-left: 20px; */
}

@media (max-width: 768px) {
    .dashboard_footer {
        gap: 10px;
        margin: 0 25px;
    }
    .table_area {
        flex: 1 1 100%; /* Stack tables vertically on smaller screens */
    }
    .table_area:nth-child(2) {
        flex: 0 0 100%;  /* Second element: 20% width */
    }
    .dashboard_table_header {
        flex-direction: row !important;
    }

    h4 {
        font-size: 16px; /* Smaller font size on small screens */
    }

    .view-btn {
        font-size: 12px; /* Adjust button font size */
    }
    .add-form{
        width: 100%;
        margin: 0px;
    }

    .table th, .table td {
        padding: 8px; /* Smaller padding for smaller screens */
    }

    .table-responsive {
        font-size: 14px; /* Adjust table font size */
    }
}

@media (max-width: 480px) {
    h4 {
        font-size: 14px; /* Further reduce font size for mobile */
    }

    .view-btn {
        font-size: 10px; /* Smaller view button text */
    }

    .table th, .table td {
        padding: 6px; /* Further reduce padding for very small screens */
    }

    .dashboard_table_header {
        flex-direction: column;
        align-items: flex-start;
    }
}


.info-section {
    padding-left: 5px !important;
    padding: 20px;
}

/* .info_card {
    padding: 30px;
    background-color: #FFFFFF;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 5px;
} */

.card-title {
    display: flex;
    justify-content: space-between;
}

.view-btn {
    padding: 5px 10px;
    background-color: #1C305C;
    color: white;
    border-radius: 5px;
}

.view-btn:hover {
    color: white;
}

.add-btn {
    padding: 7px 15px !important;
    margin-bottom: 20px !important;
    border-radius: 5px;
    font-size: 13px;
}

.add-btn a {
    color: white !important;
}

.back-btn {
    padding: 7px 15px !important;
    margin-bottom: 20px !important;
    border-radius: 5px;
    font-size: 13px;
}

.back-btn a {
    color: white !important;
}

th {
    text-align: center !important;
}

td {
    height: auto;
    text-align: center !important;
}

.product_tumb {
    width: 40px;
    height: 40px;
}

.action_icon_row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* padding-top: 15px;
    border: none !important; */
}

.action-btn {
    padding: 4.5px 7px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 13px;
}

.tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}


/* select option */
.options {
    cursor: pointer;
    width: 200px;
    min-height: 35px;
    max-height: 300px;
    border-radius: 5px;
    border: none;
    transition: all 300ms;
    border: 1px solid #c5c5c5;
}

.options.opened {
    overflow-y: scroll;
}

select:focus,
select:active {
    outline: 0;
}

.avatar-edit label {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    text-align: center;
    line-height: 45px;
    border: 2px solid #fff;
    font-size: 18px;
    cursor: pointer;
    background-color: #7367f0 !important;
}

.input_image {
    display: block;
    border: 3px solid #f1f1f1;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .25);
    border-radius: 10px;
    width: 210px;
    height: 210px;
}

.btn-block {
    display: block;
    width: 100%;
}